<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Cliente" %><br />
    <%= f.select :client_id, @clients, :prompt => 'Selecione' %>
  </div>
    <div class="field">
      <%= f.label "Centro de custo" %><br />
      <%= f.select :aircraft_type_id , @aircraft_types, :include_blank => true %>
    </div>


  <div class="field">
    <%= f.label "Data" %><br />
      <%= f.text_field :due_date_br, :class=>'datepicker', :size=>11 %>
  </div>

  <div class="field">
    <%= f.label "Valor" %><br />
    <%= f.text_field :value, :size=>9 %>
  </div>

  <div class="field">
    <%= f.label "Juros" %><br />
    <%= f.text_field :interest, :size=>9 %>
  </div>

  <div class="field">
    <%= f.label "Desconto" %><br />
    <%= f.text_field :discount, :size=>9 %>
  </div>

  <div class="field">
    <%= f.label "Descrição" %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.check_box :received %>
    <%= f.label "recebido em" %>
    <%= f.text_field :entry_date_br, :class=>'datepicker', :size=>11 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
