<div>
  <p><b>Flights</b></p>
  <table>
    <% @aircraft.flights.each do |fl| %>
      <tr>
        <td><%= fl.client.name %></td>
        <td><%= fl.flight_date %></td>
        <td><%= link_to fl.instructor.name, instructor_path(fl.instructor) %></td>
        <td><%= fl.duration %></td>
        <td><%= fl.aircraft.aircraft_type.name %></td>
      </tr>
    <% end %>
  </table>
</div>