<%= form_for(@aircraft) do |f| %>
  <% if @aircraft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aircraft.errors.count, "error") %> prohibited this aircraft from being saved:</h2>

      <ul>
      <% @aircraft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Prefixo" %><br />
    <%= f.text_field :prefix %>
  </div>
  <div class="field">
    <%= f.label "Tipo" %><br />
    <%= f.select :aircraft_type_id, @aircraft_types %>
  </div>
  <div class="field">
    <%= f.label "Pertence à escola" %><br />
    <%= f.check_box :owner %>
  </div>
  <div class="field">
    <%= f.label "Preço da hora" %><br />
    <%= f.text_field :hour_price %>
  </div>
  <div class="field">
    <%= f.label "Fabricante" %><br />
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label "Modelo" %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label "Cores" %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label "Horímetro" %><br />
    <%= f.text_field :hourmeter %>
  </div>
  <div class="field">
    <%= f.label "Parada p/ manutenção" %><br />
    <%= f.date_select :maintenance_break %>
  </div>
  <div class="field">
    <%= f.label "Última manutenção" %><br />
    <%= f.date_select :last_maintenance %>
  </div>
  <div class="field">
    <%= f.label "Horas de vôo" %><br />
    <%= f.text_field :flyght_hours %>
  </div>
  <div class="field">
    <%= f.label  "Observações" %><br />
    <%= f.text_field :details %>
  </div>
  <div class="field">
    <%= f.label "Equipamento" %><br />
    <%= f.text_field :equipment %>
  </div>
  <div class="field">
    <%= f.label "Velocidade" %><br />
    <%= f.text_field :speed %>
  </div>
  <div class="field">
    <%= f.label "Operador" %><br />
    <%= f.text_field :operator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
