<h1>Listing aircrafts</h1>

<table>
  <tr>
    <th>Prefix</th>
    <th>Type</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aircrafts.each do |aircraft| %>
  <tr>
    <td><%= aircraft.prefix %></td>
    <td><%= aircraft.type %></td>
    <td><%= aircraft.manufacturer %></td>
    <td><%= aircraft.model %></td>
    <td><%= link_to 'Show', aircraft %></td>
    <td><%= link_to 'Edit', edit_aircraft_path(aircraft) %></td>
    <td><%= link_to 'Destroy', aircraft, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aircraft', new_aircraft_path %>
