<h1>Aeronaves</h1>
<hr>
<table width="90%">
  <tr>
    <th>Prefixo</th>
    <th>Tipo</th>
    <th>Fabricante</th>
    <th>Modelo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aircrafts.each do |aircraft| %>
  <tr>
    <td><%= link_to aircraft.prefix, aircraft %></td>
    <td><%= aircraft.aircraft_type.name %></td>
    <td><%= aircraft.manufacturer %></td>
    <td><%= aircraft.model %></td>
    <td align="right" width="25px"><%= link_to image_tag("info.png", :size=>"20x20", :border=>0, :title=>"Detalhes"), aircraft %></td>
    <td align="center" width="25px"><%= link_to image_tag("edit.png", :size=>"20x20", :border=>0, :title=>"Editar"), edit_aircraft_path(aircraft) %></td>
    <td align="left" width="25px"><%= link_to image_tag("trash.jpg",:size=>"20x20", :border=>0, :title=>"Excluir"), aircraft, :confirm => 'Tem certeza que quer excluir o registro?', :method => :delete %></td>
  </tr>


<% end %>

</table>
<br />
<hr>


<%= link_to image_tag("plus2.png", :size=>"40x40", :border=>0, :title=>"Adicionar"), new_aircraft_path %>
