<p id="notice"><%= notice %></p>

<table class="table" id="table_form" cellspacing="0" cellpadding="0">
	<tr class="rowa">
		<td class="col1 cell"><b>Prefixo:</b> <%= @aircraft.prefix %></td>
		<td class="col2 cell"><b>Tipo:</b> <%= @aircraft.type %> </td>
		<td class="col3 cell"><b>Pertence à escola:</b> <%= @aircraft.owner %></td>
	</tr>
 	<tr class="rowa">
		<td class="col1 cell"><b>Fabricante:</b> <%= @aircraft.manufacturer %></td>
		<td class="col2 cell"><b>Modelo:</b> <%= @aircraft.model %> </td>
		<td class="col3 cell"><b>Cor:</b> <%= @aircraft.color %>  </td>
	</tr>
 	<tr class="rowa">
		<td class="col1 cell"><b>Horímetro:</b> <%= @aircraft.hourmeter %> </td>
		<td class="col2 cell"><b>Parada p/ manutenção:</b> <%= @aircraft.maintenance_break %></td>
		<td class="col3 cell"><b>Última manutenção:</b> <%= @aircraft.last_maintenance %> </td>
	</tr>
 	<tr class="rowa">
		<td class="col1 cell">Horas de vôo:</b> <%= @aircraft.flyght_hours %> </td>
		<td class="col2 cell"><b>Detalhes:</b> <%= @aircraft.details %> </td>
		<td class="col3 cell"><b>Equipamento:</b> <%= @aircraft.equipment %> </td>
	</tr>
 	<tr class="rowa">
		<td class="col1 cell"><b>Velocidade:</b> <%= @aircraft.speed %> </td>
		<td class="col2 cell"><b>Operador:</b> <%= @aircraft.operator %> </td>
		<td class="col3 cell"> </td>
	</tr>
 </table>

<%= link_to image_tag("left_arrow.png", :size=>"40x40", :border=>0, :title=>"Voltar"), aircrafts_path %>
<%= link_to image_tag("edit.png", :size=>"40x40", :border=>0, :title=>"Editar"), edit_aircraft_path(@aircraft) %>
