<p id="notice"><%= notice %></p>

<p>
  <b>Prefix:</b>
  <%= @aircraft.prefix %>
</p>

<p>
  <b>Type:</b>
  <%= @aircraft.type %>
</p>

<p>
  <b>Owner:</b>
  <%= @aircraft.owner %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @aircraft.manufacturer %>
</p>

<p>
  <b>Model:</b>
  <%= @aircraft.model %>
</p>

<p>
  <b>Color:</b>
  <%= @aircraft.color %>
</p>

<p>
  <b>Hourmeter:</b>
  <%= @aircraft.hourmeter %>
</p>

<p>
  <b>Maintenance break:</b>
  <%= @aircraft.maintenance_break %>
</p>

<p>
  <b>Last maintenance:</b>
  <%= @aircraft.last_maintenance %>
</p>

<p>
  <b>Flyght hours:</b>
  <%= @aircraft.flyght_hours %>
</p>

<p>
  <b>Details:</b>
  <%= @aircraft.details %>
</p>

<p>
  <b>Equipment:</b>
  <%= @aircraft.equipment %>
</p>

<p>
  <b>Speed:</b>
  <%= @aircraft.speed %>
</p>

<p>
  <b>Operator:</b>
  <%= @aircraft.operator %>
</p>


<%= link_to 'Edit', edit_aircraft_path(@aircraft) %> |
<%= link_to 'Back', aircrafts_path %>
