<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="wrapper" class="clearfix">	
	<div id="header2"><h2>Notificação de vôo</h2><hr>
	<div>
	<table class="table" id="table_form" cellspacing="0" cellpadding="0">
		<tr>
			<td class="col1 cell"> Tipo de Formulário:</br><b>IEPV 100-7</b> </td>
			<td class="col1 cell"><%= f.label "Aeronave" %><br /> <%= f.select :aircraft_id, @aircrafts, :prompt=> 'selecione' %></td>
			<td class="col3 cell"><%= f.label "tipo" %></br> <%= f.text_field :type_id %></td></div></td>
		</tr>
		<tr class="rowa">
			<td class="col1 cell"><%= f.label "Equipamento" %><br />
		    <%= f.text_field :equipment %></td>
			<td class="col2 cell"><%= f.label "Aeroporto de partida" %><br />
		    <%= f.text_field :departure_aerodrome %></td>
			<td class="col1 cell"><%= f.label "Data do vôo" %><br />
			<%= f.text_field :flight_date_br, :order=>[:day, :month, :year], :class=>'datepicker', :size=>11 %></td>
			<td class="col3 cell"><%= f.label "Hora" %><br />
			    <%= f.time_select :flight_time %></td>
		<tr>		
			<td class="col3 cell"><%= f.label "Velocidade de cruzeiro" %><br />
			    <%= f.text_field :cruising_speed %></td>
				<td class="col3 cell"><%= f.label "Nível" %><br />
			    <%= f.text_field :level %></td>
				<td class="col1 cell"><%= f.label "rota" %><br />
			    <%= f.text_field :route %></td>
			
		</tr>
			
			<tr>
				<td class="col2 cell"><%= f.label "Aeroporto de destino" %><br />
			    <%= f.text_field :destination_aerodrome %></td>
				<td class="col3 cell"><%= f.label :total_ett %><br />
				    <%= f.time_select :total_ett %></td>
				<td class="col1 cell"><%= f.label "Aeroporto alternativo" %><br />
				    <%= f.text_field :alternate_aerodrome %></td>
					<td class="col1 cell"></td>
			</tr>
		</table>
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">
		
			<tr>
				<td class="col3 cell"><%= f.label "Outras informações" %><br />
	    		<%= f.text_field :other_information, :size =>"160" %></div>
			</tr>
		</table>
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">	
			<tr>
				<td class="col3 cell"><%= f.label "Duração" %><br />
			    <%= f.time_select :endurance %></td>
				<td class="col1 cell"><%= f.label "Pessoas a bordo" %><br />
			    <%= f.text_field :persons_on_board %></td>
				<td class="col1 cell"></td>
				<td class="col3 cell"></td>
			</tr>
		</table>
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">

			<tr>
				<td class="col2 cell"><%= f.label "Cores e marcas da aeronave" %><br />
			    <%= f.text_field :aircraft_colors_and_marks, :size =>"77" %></td>
				<td class="col2 cell"><%= f.label "Piloto em comando" %><br />
			    <%= f.text_field :aircraft_colors_and_marks, :size =>"77" %></td>
			</tr>
		</table>
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">	
			<tr>
				<td class="col3 cell"><%= f.label "Preenchido por" %><br />
			    <%= f.text_field :filled_by %></td>
				<td class="col1 cell"><%= f.label "Código DAC" %><br />
			    <%= f.text_field :instructor_dac %></td>
				<td class="col1 cell"></td>
				<td class="col3 cell"></td>
			</tr>
		</table>
	</div>	
	</div>
		<div id="header3" align="center">
		    <label for="history"><b>Grau:</b></label>
		    <%= f.radio_button :degree, '1' %> 1- Perigoso 
		    <%= f.radio_button :degree, '2' %> 2- Deficiente
		    <%= f.radio_button :degree, '3' %> 3- Satisfatório
		    <%= f.radio_button :degree, '4' %> 4- Bom
		    <%= f.radio_button :degree, '5' %> 5- Excelente
	</div>
	<div id="maincol2">
	<%= render :partial => 'formH' %>
	 </div>
	 <div class="actions">
	   <%= f.submit %>
	<% end %> </div>
<div id="leftcol2"></br>
	<div class="form_row">
	    <label for="history"><b>Histórico:</b></label>
	    <br><%= f.radio_button :history, '1' %> Instrução 
	    <br><%= f.radio_button :history, '2' %> Filmagem/foto
	    <br><%= f.radio_button :history, '3' %> Panorâmico
	    <br><%= f.radio_button :history, '4' %> Transporte
	    <br><%= f.radio_button :history, '5' %> Manutenção
	    <br><%= f.radio_button :history, '6' %> Treinamento
	    <br><%= f.radio_button :history, '7' %> Particular
	    <br><%= f.radio_button :history, '8' %> Demonstração
	</div>
	</br><hr></br>
	<div class="form_row">
	    <label for="history"><b>Fase:</b></label>
	    <br><%= f.radio_button :phase, '1' %> Pré-solo 
	    <br><%= f.radio_button :phase, '2' %> Manobras
	    <br><%= f.radio_button :phase, '3' %> Navegação
	    <br><%= f.radio_button :phase, '4' %> Solo
	    <br><%= f.radio_button :phase, '5' %> Cheque
	</div>
</br><hr></br>
	<div class="form_row">
	    <label for="curse"><b>Curso:</b></label>
	    <br><%= f.radio_button :course, '1' %> PPH 
	    <br><%= f.radio_button :course, '2' %> PCH
	    <br><%= f.radio_button :course, '3' %> INVH
	</div>
	</br>
	</div>
</div>

