<div id="helicoptero">
  FORMH
<table class="table" id="table_form" cellspacing="0" cellpadding="0">
 	<tr class="rowa" border="1px">

		<td class="col2 cell">
	    <%= f.label "Passageiro" %><br />
	    <%= f.text_field :passenger %></td>
		<td class="col2 cell">
		  <%= f.label "Duração de vôo" %><br />
	    <%= f.text_field :duration%></td>
		<td class="col2 cell">
	    <%= f.label "Pousos" %><br />
	    <%= f.text_field :landings %></td>
	

	</tr>
 	<tr class="rowa">
		<td class="col1 cell"><%= f.label "Registro" %><br />
	    <%= f.text_field :registration %></td>

		<td class="col3 cell">
	    <%= f.label "Horímetro" %><br />
	    <%= f.text_field :hourmeter %></td>
		<td class="col3 cell">
	    <%= f.label "Licença" %></br>
	    <%= f.text_field :license %>
		</td>
		</td>
	</tr>
</table>
<table class="table" id="table_form" cellspacing="0" cellpadding="0" width="100%">

 	<tr class="rowa">
	    <td class="col1cell"><%= f.label "Inspeções" %></td>
		<td class="col2cell"><%= f.text_field :inspections, :size=>2 %></td>
		<td class="col3cell"><%= f.label "Partida" %></td>
		<td class="col4cell"><%= f.text_field :departure, :size=>2 %></td>
		<td class="col5cell"><%= f.label "Checagem" %></td>
		<td class="col6cell"><%= f.text_field :checks, :size=>2 %></td>
		<td class="col7cell"><%= f.label "Taxi" %></td>
		<td class="col8cell"><%= f.text_field :taxi, :size=>2 %>
	</tr>
	<tr class="rowa">		
		<td class="col1cell"><%= f.label :vertical_drop %></td>
		<td class="col2cell"><%= f.text_field :vertical_drop, :size=>2 %></td>
		<td class="col3cell"><%= f.label :normal_drop %></td>
		<td class="col4cell"><%= f.text_field :normal_drop, :size=>2 %></td>
		<td class="col5cell"><%= f.label :drop_down %></td>
		<td class="col6cell"><%= f.text_field :drop_down, :size=>2 %></td>
		<td class="col7cell"><%= f.label :run_landing %></td>
		<td class="col8cell"><%= f.text_field :run_landing, :size=>2 %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell"><%= f.label "Dec.max.perf"%></td>
		<td class="col2cell"><%= f.text_field :max_performance_drop, :size=>2 %></td>
		<td class="col3cell"><%= f.label "Vôo nivelado" %></td>
		<td class="col4cell"><%= f.text_field :level_flight, :size=>2 %></td>
		<td class="col5cell"><%= f.label :hovering_flight %></td>
		<td class="col6cell"><%= f.text_field :hovering_flight, :size=>2 %></td>
		<td class="col7cell"><%= f.label :back_flight %></td>
		<td class="col8cell"><%= f.text_field :back_flight, :size=>2 %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell"><%= f.label "Vôo lateral" %></td>
		<td class="col2cell"><%= f.text_field :side_flying, :size=>2 %></td>
		<td class="col3cell"><%= f.label "Correções" %></td>
		<td class="col4cell"><%= f.text_field :corrections, :size=>2 %></td>
		<td class="col5cell"><%= f.label :turns %></td>
		<td class="col6cell"><%= f.text_field :turns, :size=>2 %></td>
		<td class="col7cell"><%= f.label "Var.velocidade" %></td>
		<td class="col8cell"><%= f.text_field :speed_variation, :size=>2 %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell"><%= f.label "Auto rot. direta" %></td>
		<td class="col2cell"><%= f.text_field :direct_autorotation, :size=>2 %></td>
		<td class="col3cell"><%= f.label "Auto rot. 90º" %></td>
		<td class="col4cell"><%= f.text_field :autorotation_90º, :size=>2 %></td>
		<td class="col5cell"><%= f.label "Auto rot. 180º" %></td>
		<td class="col6cell"><%= f.text_field :autorotation_180º, :size=>2 %></td>
		<td class="col7cell"><%= f.label "Auto rot. 360º" %></td>
		<td class="col8cell"><%= f.text_field :autorotation_360º, :size=>2 %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell"><%= f.label :autorotation_Hovering_DES %></td>
		<td class="col2cell"><%= f.text_field :autorotation_Hovering_DES, :size=>2 %></td>
		<td class="col3cell"><%= f.label :autorotation_Hovering_FES %></td>
		<td class="col4cell"><%= f.text_field :autorotation_Hovering_FES, :size=>2 %></td>
		<td class="col5cell"><%= f.label "Aproximação normal" %></td>
		<td class="col6cell"><%= f.text_field :normal_approach, :size=>2 %></td>
		<td class="col7cell"><%= f.label "Aproximação grande ângulo" %></td>
		<td class="col8cell"><%= f.text_field :big_angle_approach, :size=>2 %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell"><%= f.label "Aproximação restrita" %></td>
		<td class="col2cell"><%= f.text_field :restrict_approach, :size=>2 %></td>
		<td class="col3cell"><%= f.label "Pouso normal" %></td>
		<td class="col4cell"><%= f.text_field :normal_landing, :size=>2 %></td>
		<td class="col5cell"><%= f.label :landing_in_4_noses %></td>
		<td class="col6cell"><%= f.text_field :landing_in_4_noses, :size=>2 %></td>
		<td class="col7cell"><%= f.label :landing_incline_land %></td>
		<td class="col8cell"><%= f.text_field :landing_incline_land, :size=>2 %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell"><%= f.label "Pouso direto" %></td>
		<td class="col2cell"><%= f.text_field :direct_landing, :size=>2 %></td>
		<td class="col3cell"><%= f.label :constant_square_nose %></td>
		<td class="col4cell"><%= f.text_field :constant_square_nose, :size=>2 %>		</td>
		<td class="col5cell"><%= f.label :variable_square_nose %></td>
		<td class="col6cell"><%= f.text_field :variable_square_nose, :size=>2 %></td>
		<td class="col7cell"><%= f.label "Tráfego normal" %></td>
		<td class="col8cell"><%= f.text_field :normal_traffic, :size=>2 %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell"><%= f.label :hovered_1000ft %></td>
		<td class="col2cell"><%= f.text_field :hovered_1000ft, :size=>2 %></td>
		<td class="col3cell"><%= f.label "Pouso em heliponto" %></td>
		<td class="col4cell"><%= f.text_field :landing_on_helipad, :size=>2 %></td>
		<td class="col5cell"><%= f.label "Parada rápida" %></td>
		<td class="col6cell"><%= f.text_field :quick_stop, :size=>2 %></td>
		<td class="col7cell"><%= f.label :parking_cutting %></td>
		<td class="col8cell"><%= f.text_field :parking_cutting, :size=>2 %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell"><%= f.label "Operação em montanha" %></td>
		<td class="col2cell"><%= f.text_field :oper_in_mountain, :size=>2 %></td>
		<td class="col3cell"><%= f.label "Operação com vento contrário" %></td>
		<td class="col4cell"><%= f.text_field :oper_with_crosswind, :size=>2 %></td>
		<td class="col5cell"><%= f.label "Meteorologia" %></td>
		<td class="col6cell"><%= f.text_field :meteorology, :size=>2 %></td>
		<td class="col7cell"><%= f.label "Planejamento" %></td>
		<td class="col8cell"><%= f.text_field :planning, :size=>2 %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell"><%= f.label "Notificação de vôo" %></td>
		<td class="col2cell"><%= f.text_field :plan_notification, :size=>2 %></td>
		<td class="col3cell"><%= f.label :fonia %></td>
		<td class="col4cell"><%= f.text_field :fonia, :size=>2 %></td>
		<td class="col5cell"><%= f.label "Regras de tráfego" %></td>
		<td class="col6cell"><%= f.text_field :traffic_rules, :size=>2 %></td>
		<td class="col7cell"><%= f.label "Rota de vôo" %></td>
		<td class="col8cell"><%= f.text_field :flight_route, :size=>2 %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell"><%= f.label "Navegação visual" %></td>
		<td class="col2cell"><%= f.text_field :visual_navigation, :size=>2 %></td>
		<td class="col3cell"><%= f.label "Procedimentos de pernoite" %></td>
		<td class="col4cell"><%= f.text_field :overnight_procedure, :size=>2 %></td>
		<td class="col5cell"><%= f.label :handling_publications %></td>
		<td class="col6cell"><%= f.text_field :handling_publications, :size=>2 %></td>
		<td class="col7cell"><%= f.label "Iniciativa" %></td>
		<td class="col8cell"><%= f.text_field :initiative, :size=>2 %></td>
	</tr>
<table>
	<tr>
		<td>
			<%= f.label "Observações" %> </br>
			<%= f.text_area :comments, :size=>"104x4" %>
		</td>
	</tr>
</table>

</table>
</div>