<table class="table" id="table_form" cellspacing="0" cellpadding="0">

 	<tr class="rowa">

		<td class="col3 cell"><b>Cliente</b><br />
	    <%= @flight.client.name %></td>
		<td class="col1 cell"><b>DAC Cliente</b><br />
	    <%= @flight.client.client_dac %></td>
		<td class="col2 cell"><b>Instrutor</b><br />
	    <%= @flight.instructor.name%></td>
		<td class="col3 cell"><b>DAC do Instrutor</b><br />
	    <%= @flight.instructor.instructor_dac %></td>
	</tr>
 	<tr class="rowa" border="1px">

		<td class="col2 cell"><b>Passageiro</b><br />
	    <%= @flight.passenger %></td>
		<td class="col2 cell"><b>Duração de vôo</b><br />
	    <%= @flight.duration %></td>
		<td class="col2 cell"><b>Pousos</b><br />
	    <%= @flight.landings %></td>


	</tr>
 	<tr class="rowa">
		<td class="col1 cell"><b>Registro</b><br />
	    <%= @flight.registration %></td>

		<td class="col3 cell"><b>Horímetro</b><br />
	    <%= @flight.hourmeter %></td>
		<td class="col3 cell"><b>Licença</b></br>
	    <%= @flight.license %>
		</td>
		</td>
	</tr>
</table>
<table class="table" id="table_form" cellspacing="0" cellpadding="0">

 	<tr class="rowa">
	    <td class="col1cell">Inspeções</td>
		<td class="col2cell"><%= @flight.inspections %></td>
		<td class="col3cell">Partida</td>
		<td class="col4cell"><%= @flight.departure %></td>
		<td class="col5cell">Checagem</td>
		<td class="col6cell"><%= @flight.checks %></td>
		<td class="col7cell">Taxi</td>
		<td class="col8cell"><%= @flight.taxi %>
	</tr>
	<tr class="rowa">		
		<td class="col1cell">vertical_drop</td>
		<td class="col2cell"><%= @flight.vertical_drop %></td>
		<td class="col3cell">normal_drop</td>
		<td class="col4cell"><%= @flight.normal_drop %></td>
		<td class="col5cell">drop_down</td>
		<td class="col6cell"><%= @flight.drop_down %></td>
		<td class="col7cell">run_landing</td>
		<td class="col8cell"><%= @flight.run_landing %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell">Dec.max.perf</td>
		<td class="col2cell"><%= @flight.max_performance_drop %></td>
		<td class="col3cell">Vôo nivelado</td>
		<td class="col4cell"><%= @flight.level_flight %></td>
		<td class="col5cell">hovering_flight</td>
		<td class="col6cell"><%= @flight.hovering_flight %></td>
		<td class="col7cell">back_flight</td>
		<td class="col8cell"><%= @flight.back_flight %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell">Vôo lateral</td>
		<td class="col2cell"><%= @flight.side_flying %></td>
		<td class="col3cell">Correções</td>
		<td class="col4cell"><%= @flight.corrections %></td>
		<td class="col5cell">turns</td>
		<td class="col6cell"><%= @flight.turns %></td>
		<td class="col7cell">Var.velocidade</td>
		<td class="col8cell"><%= @flight.speed_variation %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell">Auto rot. direta</td>
		<td class="col2cell"><%= @flight.direct_autorotation %></td>
		<td class="col3cell">Auto rot. 90º</td>
		<td class="col4cell"><%= @flight.autorotation_90º %></td>
		<td class="col5cell">Auto rot. 180º</td>
		<td class="col6cell"><%= @flight.autorotation_180º %></td>
		<td class="col7cell">Auto rot. 360º</td>
		<td class="col8cell"><%= @flight.autorotation_360º %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell">autorotation_Hovering_DES</td>
		<td class="col2cell"><%= @flight.autorotation_Hovering_DES %></td>
		<td class="col3cell">autorotation_Hovering_FES</td>
		<td class="col4cell"><%= @flight.autorotation_Hovering_FES %></td>
		<td class="col5cell">Aproximação normal</td>
		<td class="col6cell"><%= @flight.normal_approach %></td>
		<td class="col7cell">Aproximação grande ângulo</td>
		<td class="col8cell"><%= @flight.big_angle_approach %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell">Aproximação restrita</td>
		<td class="col2cell"><%= @flight.restrict_approach %></td>
		<td class="col3cell">Pouso normal</td>
		<td class="col4cell"><%= @flight.normal_landing %></td>
		<td class="col5cell">landing_in_4_noses</td>
		<td class="col6cell"><%= @flight.landing_in_4_noses %></td>
		<td class="col7cell">landing_incline_land</td>
		<td class="col8cell"><%= @flight.landing_incline_land %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell">Pouso direto</td>
		<td class="col2cell"><%= @flight.direct_landing %></td>
		<td class="col3cell">constant_square_nose</td>
		<td class="col4cell"><%= @flight.constant_square_nose %>		</td>
		<td class="col5cell">variable_square_nose</td>
		<td class="col6cell"><%= @flight.variable_square_nose %></td>
		<td class="col7cell">Tráfego normal</td>
		<td class="col8cell"><%= @flight.normal_traffic %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell">hovered_1000ft</td>
		<td class="col2cell"><%= @flight.hovered_1000ft %></td>
		<td class="col3cell">Pouso em heliponto</td>
		<td class="col4cell"><%= @flight.landing_on_helipad %></td>
		<td class="col5cell">Parada rápida</td>
		<td class="col6cell"><%= @flight.quick_stop %></td>
		<td class="col7cell">parking_cutting</td>
		<td class="col8cell"><%= @flight.parking_cutting %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell">Operação em montanha</td>
		<td class="col2cell"><%= @flight.oper_in_mountain %></td>
		<td class="col3cell">Operação com vento contrário</td>
		<td class="col4cell"><%= @flight.oper_with_crosswind %></td>
		<td class="col5cell">Meteorologia</td>
		<td class="col6cell"><%= @flight.meteorology %></td>
		<td class="col7cell">Planejamento</td>
		<td class="col8cell"><%= @flight.planning %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell">Notificação de vôo</td>
		<td class="col2cell"><%= @flight.plan_notification %></td>
		<td class="col3cell">fonia</td>
		<td class="col4cell"><%= @flight.fonia %></td>
		<td class="col5cell">Regras de tráfego</td>
		<td class="col6cell"><%= @flight.traffic_rules %></td>
		<td class="col7cell">Rota de vôo</td>
		<td class="col8cell"><%= @flight.flight_route %></td>
	</tr>
	<tr class="rowa">		
		<td class="col1cell">Navegação visual</td>
		<td class="col2cell"><%= @flight.visual_navigation %></td>
		<td class="col3cell">Procedimentos de pernoite</td>
		<td class="col4cell"><%= @flight.overnight_procedure %></td>
		<td class="col5cell">handling_publications</td>
		<td class="col6cell"><%= @flight.handling_publications %></td>
		<td class="col7cell">Iniciativa</td>
		<td class="col8cell"><%= @flight.initiative %></td>
	</tr>


</table>
<table>
	<tr>
		<td><b>Observações</b></br>
			<%=  @flight.comments %>
		</td>
	</tr>
</table>

