<h1>Listing flights</h1>

<table>
  <tr>
    <th>Prefix</th>
    <th>Number</th>
    <th>Type</th>
    <th>Equipment</th>
    <th>Client</th>
    <th>Instructor</th>
    <th>Flight date</th>
    <th>Flight time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flights.each do |flight| %>
  <tr>
    <td><%= flight.prefix_id %></td>
    <td><%= flight.number %></td>
    <td><%= flight.type_id %></td>
    <td><%= flight.equipment %></td>
    <td><%= flight.client_id %></td>
    <td><%= flight.instructor_id %></td>
    <td><%= flight.flight_date %></td>
    <td><%= flight.flight_time %></td>
    <td><%= link_to 'Show', flight %></td>
    <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
    <td><%= link_to 'Destroy', flight, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flight', new_flight_path %>
