<h1>Vôos</h1>

<table>
	<tr>
		<th>Instrutor:</th>
		<th>Cliente:</th>
		<th>Aeronave:</th>
		<th>Data:</th>
	</tr>
	<tr>
		<td><%= select_tag :instructor_id, options_for_select(@instructors, params[:instructor_id]), :include_blank => true %></td>

<td><%= select_tag :client_id, options_for_select(@clients, params[:client_id]), :include_blank => true %></td>
<td><%= select_tag :aircraft_id, options_for_select(@aircrafts, params[:aircraft_id]), :include_blank => true %></td>
<td><%= render :partial => '/shared/date_range' %></td>
	</tr>
</table>

<hr>

<table>
  <tr>
    <th>Prefixo</th>
    <th>Número</th>
    <th>Tipo</th>
    <th>Equipamento</th>
    <th>Cliente</th>
    <th>Instrutor</th>
    <th>Data</th>
    <th>Tempo de vôo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flights.each do |flight| %>
  <tr>
    <td><%= flight.aircraft.prefix %></td>
    <td><%= link_to flight.number, flight %></td>
    <td><%= flight.type_id %></td>
    <td><%= flight.equipment %></td>
    <td><%= link_to flight.client.name, client_path(flight.client) %></td>
    <td><%= link_to flight.instructor.name, instructor_path(flight.instructor) %></td>
    <td><%= flight.flight_date %></td>
    <td><%= flight.duration %></td>
    <td align="right"><%= link_to image_tag("info.png", :size=>"16x16", :border=>0), flight %></td>
    <td align="center"><%= link_to image_tag("edit.png", :size=>"16x16", :border=>0), edit_flight_path(flight) %></td>
    <td align="left"><%= link_to image_tag("trash.jpg",:size=>"16x16", :border=>0), flight, :confirm => 'Are you sure?', :method => :delete %></td>

<% end %>

</table>

<br />
<hr>
<%= link_to image_tag("plus2.png", :size=>"40x40", :border=>0, :title=>"Adicionar"), new_flight_path %>
