<h1>Relatório de Vôo</h1>
<div id="wrapper" class="clearfix">	
<div id="buttons">
	  <%= link_to "Imprimir notificação" , print_notification_flight_path(@flight)  %>  
	  <%= button_to_function "imprime relatório" , "javascript:print('relatorio','relatorio')"; %>  
</div>	
<div id="relatorio">
	
<div id="notificacao">
	
	<div id="header2"><h2>Notificação de vôo</h2><hr>
	<div>
	<table class="table" id="table_form" cellspacing="0" cellpadding="0">
		<tr>
			<td class="col1 cell"> Tipo de Formulário:</br><b>IEPV 100-7</b> </td>
			<td class="col1 cell"><b>Aeronave</b><br /> <%= @flight.aircraft.prefix  %></td>
			<td class="col3 cell"><b>tipo</b></br> <%= @flight.aircraft.aircraft_type.name %></td></div></td>
		</tr>
		<tr>
			<td class="col1 cell"><b>Equipamento</b><br />
		    <%= @flight.equipment %></td>
			<td class="col2 cell"><b>Aeroporto de partida</b><br />
		    <%= @flight.departure_aerodrome %></td>
			<td class="col1 cell"><b>Data do vôo</b><br />
			<%= @flight.flight_date_br %></td>
			<td class="col3 cell"><b>Hora</b><br />
			    <%= @flight.flight_time_br %></td>
		<tr>		
			<td class="col3 cell"><b>Velocidade de cruzeiro</b><br />
			    <%= @flight.cruising_speed %></td>
				<td class="col3 cell"><b>Nível</b><br />
			    <%= @flight.level %></td>
				<td class="col1 cell"><b>Rota</b><br />
			    <%= @flight.route %></td>
			
		</tr>
			
			<tr>
				<td class="col2 cell"><b>Aeroporto de destino</b><br />
			    <%= @flight.destination_aerodrome %></td>
				<td class="col3 cell"><b>Total ett </b><br />
				    <%= @flight.total_ett %></td>
				<td class="col1 cell"><b>Aeroporto alternativo</b><br />
				    <%= @flight.alternate_aerodrome %></td>
					<td class="col1 cell"></td>
			</tr
			<tr class="rowa">

				<td class="col3 cell"><b>Cliente</b><br />
			    <%= @flight.client.name %></td>
				<td class="col1 cell"><b>ANAC Cliente</b><br />
			    <%= @flight.client.client_dac %></td>
				<td class="col2 cell">
			    <b>Instrutor</b><br />
			    <%= @flight.instructor.name %></td>
				<td class="col3 cell"><b>ANAC Instrutor</b><br />
			    <%= @flight.instructor.instructor_dac %></td>
			</tr>
		</table>
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">
		
			<tr>
				<td class="col3 cell"><b>Outras informações</b><br />
	    		<%= @flight.other_information %></div>
			</tr>
		</table>
		</table>
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">

			<tr>
				<td class="col2 cell"><b>Cores e marcas da aeronave</b><br />
			    <%= @flight.aircraft_colors_and_marks %></td>
				<td class="col2 cell"><b>Piloto em comando</b><br />
			    <%= @flight.aircraft_colors_and_marks %></td>
				<td class="col1 cell"><b>Pessoas a bordo</b><br />
			    <%= @flight.persons_on_board %></td>
			</tr>
		</table>
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">	
			<tr>
				<td class="col3 cell"><b>Preenchido por</b><br />
			    <%= @flight.filled_by %></td>
				<td class="col1 cell"><b>Licença ANAC</b></b><br />
			    <%= @flight.instructor_dac %></td>
				<td class="col1 cell"></td>
				<td class="col3 cell"></td>
			</tr>
		</table>
	</div>	
	</div>
		 </div>
		<div id="header3" align="center">
		    <label for="history"><b>Grau:</b></label> 
		    <%= radio_button_tag 'degree', '1', @flight.degree == 1 %> Perigoso 
		    <%= radio_button_tag 'degree', '2', @flight.degree == 2 %> Deficiente
		    <%= radio_button_tag 'degree', '3', @flight.degree == 3 %> Satisfatório
		    <%= radio_button_tag 'degree', '4', @flight.degree == 4 %> Bom
		    <%= radio_button_tag 'degree', '5', @flight.degree == 5 %> Excelente
	</div>

	<div id="maincol2">
    
		<%= render :partial => "show_#{@flight.aircraft.aircraft_type.name[0..0]}" %>
	</div>

<div id="leftcol2"></br>
	<div class="form_row">
	    <label for="history"><b>Histórico:</b></label>
	    <br><%= radio_button_tag 'history', '1', @flight.history == 1 %> Instrução 
	    <br><%= radio_button_tag 'history', '2', @flight.history == 2 %> Transporte
	    <br><%= radio_button_tag 'history', '3', @flight.history == 3 %> Manutenção
	    <br><%= radio_button_tag 'history', '4', @flight.history == 4 %> Treinamento
	</div>
	</br><hr></br>
	<div class="form_row">
	    <label for="history"><b>Fase:</b></label>              
	    <br><%= radio_button_tag 'phase', '1',@flight.phase == 1 %> Pré-solo 
	    <br><%= radio_button_tag 'phase', '2',@flight.phase == 2 %> Manobras
	    <br><%= radio_button_tag 'phase', '3',@flight.phase == 3 %> Navegação
	    <br><%= radio_button_tag 'phase', '4',@flight.phase == 4 %> Solo
	    <br><%= radio_button_tag 'phase', '5',@flight.phase == 5 %> Cheque
	</div>
</br><hr></br>
	<div class="form_row">
	    <label for="curse"><b>Curso:</b></label>
	    <br><%= radio_button_tag 'course', '1',@flight.course == 1 %> PPH 
	    <br><%= radio_button_tag 'course', '2',@flight.course == 2 %> PCH
	    <br><%= radio_button_tag 'course', '3',@flight.course == 3 %> INVH
	    <br><%= radio_button_tag 'course', '4',@flight.course == 4 %> CPD 
	    <br><%= radio_button_tag 'course', '5',@flight.course == 5 %> CPR
	</div>
	</br>
	</div>
</div>
</div>


<div id="buttons">
<p id="notice"><%= notice %> </p>	
<hr>
<%= link_to image_tag("left_arrow.png", :size=>"40x40", :border=>0, :title=>"Voltar"), flights_path %>
<%= link_to image_tag("edit.png", :size=>"40x40", :border=>0, :title=>"Editar"), edit_flight_path(@flight) %>
</div>

<div id="dialog" title="Basic dialog"></div>