<p id="notice"><%= notice %></p>

<p>
  <b>Prefix:</b>
  <%= @flight.prefix_id %>
</p>

<p>
  <b>Number:</b>
  <%= @flight.number %>
</p>

<p>
  <b>Type:</b>
  <%= @flight.type_id %>
</p>

<p>
  <b>Equipment:</b>
  <%= @flight.equipment %>
</p>

<p>
  <b>Departure aerodrome:</b>
  <%= @flight.departure_aerodrome %>
</p>

<p>
  <b>Level:</b>
  <%= @flight.level %>
</p>

<p>
  <b>Route:</b>
  <%= @flight.route %>
</p>

<p>
  <b>Destination aerodrome:</b>
  <%= @flight.destination_aerodrome %>
</p>

<p>
  <b>Total ett:</b>
  <%= @flight.total_ett %>
</p>

<p>
  <b>Alternate aerodrome:</b>
  <%= @flight.alternate_aerodrome %>
</p>

<p>
  <b>Other information:</b>
  <%= @flight.other_information %>
</p>

<p>
  <b>Endurance:</b>
  <%= @flight.endurance %>
</p>

<p>
  <b>Persons on board:</b>
  <%= @flight.persons_on_board %>
</p>

<p>
  <b>Aircraft colors and marks:</b>
  <%= @flight.aircraft_colors_and_marks %>
</p>

<p>
  <b>Client:</b>
  <%= @flight.client_id %>
</p>

<p>
  <b>Client dac:</b>
  <%= @flight.client_dac %>
</p>

<p>
  <b>Instructor:</b>
  <%= @flight.instructor_id %>
</p>

<p>
  <b>Instructor dac:</b>
  <%= @flight.instructor_dac %>
</p>

<p>
  <b>Registration:</b>
  <%= @flight.registration %>
</p>

<p>
  <b>Passenger:</b>
  <%= @flight.passenger %>
</p>

<p>
  <b>Hourmeter:</b>
  <%= @flight.hourmeter %>
</p>

<p>
  <b>Flight date:</b>
  <%= @flight.flight_date %>
</p>

<p>
  <b>Flight time:</b>
  <%= @flight.flight_time %>
</p>

<p>
  <b>Cruising speed:</b>
  <%= @flight.cruising_speed %>
</p>

<p>
  <b>Departure:</b>
  <%= @flight.departure %>
</p>

<p>
  <b>Cut:</b>
  <%= @flight.cut %>
</p>

<p>
  <b>License:</b>
  <%= @flight.license %>
</p>

<p>
  <b>Comments:</b>
  <%= @flight.comments %>
</p>

<p>
  <b>Degree:</b>
  <%= @flight.degree %>
</p>

<p>
  <b>Inspections:</b>
  <%= @flight.inspections %>
</p>

<p>
  <b>Departure:</b>
  <%= @flight.departure %>
</p>

<p>
  <b>Checks:</b>
  <%= @flight.checks %>
</p>

<p>
  <b>Taxi:</b>
  <%= @flight.taxi %>
</p>

<p>
  <b>Vertical drop:</b>
  <%= @flight.vertical_drop %>
</p>

<p>
  <b>Normal drop:</b>
  <%= @flight.normal_drop %>
</p>

<p>
  <b>Drop down:</b>
  <%= @flight.drop_down %>
</p>

<p>
  <b>Max performance drop:</b>
  <%= @flight.max_performance_drop %>
</p>

<p>
  <b>Level flight:</b>
  <%= @flight.level_flight %>
</p>

<p>
  <b>Hovering flight:</b>
  <%= @flight.hovering_flight %>
</p>

<p>
  <b>Back flight:</b>
  <%= @flight.back_flight %>
</p>

<p>
  <b>Side flying:</b>
  <%= @flight.side_flying %>
</p>

<p>
  <b>Corrections:</b>
  <%= @flight.corrections %>
</p>

<p>
  <b>Turns:</b>
  <%= @flight.turns %>
</p>

<p>
  <b>Speed variation:</b>
  <%= @flight.speed_variation %>
</p>

<p>
  <b>Direct autorotation:</b>
  <%= @flight.direct_autorotation %>
</p>

<p>
  <b>Autorotation 90º:</b>
  <%= @flight.autorotation_90º %>
</p>

<p>
  <b>Autorotation 180º:</b>
  <%= @flight.autorotation_180º %>
</p>

<p>
  <b>Autorotation 360º:</b>
  <%= @flight.autorotation_360º %>
</p>

<p>
  <b>Autorotation hovering des:</b>
  <%= @flight.autorotation_Hovering_DES %>
</p>

<p>
  <b>Autorotation hovering fes:</b>
  <%= @flight.autorotation_Hovering_FES %>
</p>

<p>
  <b>Normal approach:</b>
  <%= @flight.normal_approach %>
</p>

<p>
  <b>Big angle approach:</b>
  <%= @flight.big_angle_approach %>
</p>

<p>
  <b>Restrict approach:</b>
  <%= @flight.restrict_approach %>
</p>

<p>
  <b>Normal landing:</b>
  <%= @flight.normal_landing %>
</p>

<p>
  <b>Landing in 4 noses:</b>
  <%= @flight.landing_in_4_noses %>
</p>

<p>
  <b>Run landing:</b>
  <%= @flight.run_landing %>
</p>

<p>
  <b>Landing incline land:</b>
  <%= @flight.landing_incline_land %>
</p>

<p>
  <b>Direct landing:</b>
  <%= @flight.direct_landing %>
</p>

<p>
  <b>Constant square nose:</b>
  <%= @flight.constant_square_nose %>
</p>

<p>
  <b>Variable square nose:</b>
  <%= @flight.variable_square_nose %>
</p>

<p>
  <b>Normal traffic:</b>
  <%= @flight.normal_traffic %>
</p>

<p>
  <b>Hovered 1000ft:</b>
  <%= @flight.hovered_1000ft %>
</p>

<p>
  <b>Landing on helipad:</b>
  <%= @flight.landing_on_helipad %>
</p>

<p>
  <b>Quick stop:</b>
  <%= @flight.quick_stop %>
</p>

<p>
  <b>Parking cutting:</b>
  <%= @flight.parking_cutting %>
</p>

<p>
  <b>Oper in mountain:</b>
  <%= @flight.oper_in_mountain %>
</p>

<p>
  <b>Oper with crosswind:</b>
  <%= @flight.oper_with_crosswind %>
</p>

<p>
  <b>Meteorology:</b>
  <%= @flight.meteorology %>
</p>

<p>
  <b>Planning:</b>
  <%= @flight.planning %>
</p>

<p>
  <b>Plan notification:</b>
  <%= @flight.plan_notification %>
</p>

<p>
  <b>Fonia:</b>
  <%= @flight.fonia %>
</p>

<p>
  <b>Traffic rules:</b>
  <%= @flight.traffic_rules %>
</p>

<p>
  <b>Flight route:</b>
  <%= @flight.flight_route %>
</p>

<p>
  <b>Visual navigation:</b>
  <%= @flight.visual_navigation %>
</p>

<p>
  <b>Overnight procedure:</b>
  <%= @flight.overnight_procedure %>
</p>

<p>
  <b>Handling publications:</b>
  <%= @flight.handling_publications %>
</p>

<p>
  <b>Initiative:</b>
  <%= @flight.initiative %>
</p>


<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
