<h1>Relatório de Vôo</h1>
<div id="wrapper" class="clearfix">	
<div id="buttons">
	<%= button_to_function "Imprimir notificação" , "javascript:print('notificacao', 'notificacao')"; %>
	<%= button_to_function "imprime relatório" , "javascript:print('relatorio','relatorio')"; %>
</div>	    
<div id="relatorio">
	
<div id="notificacao">
	
	<div id="header2"><h2>Notificação de vôo</h2><hr>
	<div>
	<table class="table" id="table_form" cellspacing="0" cellpadding="0">
		<tr>
			<td class="col1 cell"> Tipo de Formulário:</br><b>IEPV 100-7</b> </td>
			<td class="col1 cell"><b>Aeronave</b><br /> <%= @flight.aircraft.prefix  %></td>
			<td class="col3 cell"><b>tipo</b></br> <%= @flight.aircraft.aircraft_type.name %></td></div></td>
		</tr>
		<tr>
			<td class="col1 cell"><b>Equipamento</b><br />
		    <%= @flight.equipment %></td>
			<td class="col2 cell"><b>Aeroporto de partida</b><br />
		    <%= @flight.departure_aerodrome %></td>
			<td class="col1 cell"><b>Data do vôo</b><br />
			<%= @flight.flight_date_br %></td>
			<td class="col3 cell"><b>Hora</b><br />
			    <%= @flight.flight_time_br %></td>
		<tr>		
			<td class="col3 cell"><b>Velocidade de cruzeiro</b><br />
			    <%= @flight.cruising_speed %></td>
				<td class="col3 cell"><b>Nível</b><br />
			    <%= @flight.level %></td>
				<td class="col1 cell"><b>Rota</b><br />
			    <%= @flight.route %></td>
			
		</tr>
			
			<tr>
				<td class="col2 cell"><b>Aeroporto de destino</b><br />
			    <%= @flight.destination_aerodrome %></td>
				<td class="col3 cell"><b>Total ett </b><br />
				    <%= @flight.total_ett %></td>
				<td class="col1 cell"><b>Aeroporto alternativo</b><br />
				    <%= @flight.alternate_aerodrome %></td>
					<td class="col1 cell"></td>
			</tr
			<tr class="rowa">

				<td class="col3 cell"><b>Cliente</b><br />
			    <%= @flight.client.name %></td>
				<td class="col1 cell"><b>ANAC Cliente</b><br />
			    <%= @flight.client.client_dac %></td>
				<td class="col2 cell">
			    <b>Instrutor</b><br />
			    <%= @flight.instructor.name %></td>
				<td class="col3 cell"><b>ANAC Instrutor</b><br />
			    <%= @flight.instructor.instructor_dac %></td>
			</tr>
		</table>
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">
		
			<tr>
				<td class="col3 cell"><b>Outras informações</b><br />
	    		<%= @flight.other_information %></div>
			</tr>
		</table>
		</table>
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">

			<tr>
				<td class="col2 cell"><b>Cores e marcas da aeronave</b><br />
			    <%= @flight.aircraft_colors_and_marks %></td>
				<td class="col2 cell"><b>Piloto em comando</b><br />
			    <%= @flight.aircraft_colors_and_marks %></td>
				<td class="col1 cell"><b>Pessoas a bordo</b><br />
			    <%= @flight.persons_on_board %></td>
			</tr>
		</table>
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">	
			<tr>
				<td class="col3 cell"><b>Preenchido por</b><br />
			    <%= @flight.filled_by %></td>
				<td class="col1 cell"><b>Licença ANAC</b></b><br />
			    <%= @flight.instructor_dac %></td>
				<td class="col1 cell"></td>
				<td class="col3 cell"></td>
			</tr>
		</table>
	</div>	
	</div>
		 </div>
		<div id="header3" align="center">
		    <label for="history"><b>Grau:</b></label> 
		    <%= radio_button_tag 'degree', '1', @flight.degree == 1 %> Perigoso 
		    <%= radio_button_tag 'degree', '2', @flight.degree == 2 %> Deficiente
		    <%= radio_button_tag 'degree', '3', @flight.degree == 3 %> Satisfatório
		    <%= radio_button_tag 'degree', '4', @flight.degree == 4 %> Bom
		    <%= radio_button_tag 'degree', '5', @flight.degree == 5 %> Excelente
	</div>

	<div id="maincol2">
	
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">

		 	<tr class="rowa">

				<td class="col3 cell"><b>Cliente</b><br />
			    <%= @flight.client.name %></td>
				<td class="col1 cell"><b>DAC Cliente</b><br />
			    <%= @flight.client.client_dac %></td>
				<td class="col2 cell"><b>Instrutor</b><br />
			    <%= @flight.instructor.name%></td>
				<td class="col3 cell"><b>DAC do Instrutor</b><br />
			    <%= @flight.instructor.instructor_dac %></td>
			</tr>
		 	<tr class="rowa" border="1px">

				<td class="col2 cell"><b>Passageiro</b><br />
			    <%= @flight.passenger %></td>
				<td class="col2 cell"><b>Duração de vôo</b><br />
			    <%= @flight.duration %></td>
				<td class="col2 cell"><b>Pousos</b><br />
			    <%= @flight.landings %></td>


			</tr>
		 	<tr class="rowa">
				<td class="col1 cell"><b>Registro</b><br />
			    <%= @flight.registration %></td>

				<td class="col3 cell"><b>Horímetro</b><br />
			    <%= @flight.hourmeter %></td>
				<td class="col3 cell"><b>Licença</b></br>
			    <%= @flight.license %>
				</td>
				</td>
			</tr>
		</table>
		<table class="table" id="table_form" cellspacing="0" cellpadding="0">

		 	<tr class="rowa">
			    <td class="col1cell">Inspeções</td>
				<td class="col2cell"><%= @flight.inspections %></td>
				<td class="col3cell">Partida</td>
				<td class="col4cell"><%= @flight.departure %></td>
				<td class="col5cell">Checagem</td>
				<td class="col6cell"><%= @flight.checks %></td>
				<td class="col7cell">Taxi</td>
				<td class="col8cell"><%= @flight.taxi %>
			</tr>
			<tr class="rowa">		
				<td class="col1cell">vertical_drop</td>
				<td class="col2cell"><%= @flight.vertical_drop %></td>
				<td class="col3cell">normal_drop</td>
				<td class="col4cell"><%= @flight.normal_drop %></td>
				<td class="col5cell">drop_down</td>
				<td class="col6cell"><%= @flight.drop_down %></td>
				<td class="col7cell">run_landing</td>
				<td class="col8cell"><%= @flight.run_landing %></td>
			</tr>
			<tr class="rowa">		
				<td class="col1cell">Dec.max.perf</td>
				<td class="col2cell"><%= @flight.max_performance_drop %></td>
				<td class="col3cell">Vôo nivelado</td>
				<td class="col4cell"><%= @flight.level_flight %></td>
				<td class="col5cell">hovering_flight</td>
				<td class="col6cell"><%= @flight.hovering_flight %></td>
				<td class="col7cell">back_flight</td>
				<td class="col8cell"><%= @flight.back_flight %></td>
			</tr>
			<tr class="rowa">		
				<td class="col1cell">Vôo lateral</td>
				<td class="col2cell"><%= @flight.side_flying %></td>
				<td class="col3cell">Correções</td>
				<td class="col4cell"><%= @flight.corrections %></td>
				<td class="col5cell">turns</td>
				<td class="col6cell"><%= @flight.turns %></td>
				<td class="col7cell">Var.velocidade</td>
				<td class="col8cell"><%= @flight.speed_variation %></td>
			</tr>
			<tr class="rowa">		
				<td class="col1cell">Auto rot. direta</td>
				<td class="col2cell"><%= @flight.direct_autorotation %></td>
				<td class="col3cell">Auto rot. 90º</td>
				<td class="col4cell"><%= @flight.autorotation_90º %></td>
				<td class="col5cell">Auto rot. 180º</td>
				<td class="col6cell"><%= @flight.autorotation_180º %></td>
				<td class="col7cell">Auto rot. 360º</td>
				<td class="col8cell"><%= @flight.autorotation_360º %></td>
			</tr>
			<tr class="rowa">		
				<td class="col1cell">autorotation_Hovering_DES</td>
				<td class="col2cell"><%= @flight.autorotation_Hovering_DES %></td>
				<td class="col3cell">autorotation_Hovering_FES</td>
				<td class="col4cell"><%= @flight.autorotation_Hovering_FES %></td>
				<td class="col5cell">Aproximação normal</td>
				<td class="col6cell"><%= @flight.normal_approach %></td>
				<td class="col7cell">Aproximação grande ângulo</td>
				<td class="col8cell"><%= @flight.big_angle_approach %></td>
			</tr>
			<tr class="rowa">		
				<td class="col1cell">Aproximação restrita</td>
				<td class="col2cell"><%= @flight.restrict_approach %></td>
				<td class="col3cell">Pouso normal</td>
				<td class="col4cell"><%= @flight.normal_landing %></td>
				<td class="col5cell">landing_in_4_noses</td>
				<td class="col6cell"><%= @flight.landing_in_4_noses %></td>
				<td class="col7cell">landing_incline_land</td>
				<td class="col8cell"><%= @flight.landing_incline_land %></td>
			</tr>
			<tr class="rowa">		
				<td class="col1cell">Pouso direto</td>
				<td class="col2cell"><%= @flight.direct_landing %></td>
				<td class="col3cell">constant_square_nose</td>
				<td class="col4cell"><%= @flight.constant_square_nose %>		</td>
				<td class="col5cell">variable_square_nose</td>
				<td class="col6cell"><%= @flight.variable_square_nose %></td>
				<td class="col7cell">Tráfego normal</td>
				<td class="col8cell"><%= @flight.normal_traffic %></td>
			</tr>
			<tr class="rowa">		
				<td class="col1cell">hovered_1000ft</td>
				<td class="col2cell"><%= @flight.hovered_1000ft %></td>
				<td class="col3cell">Pouso em heliponto</td>
				<td class="col4cell"><%= @flight.landing_on_helipad %></td>
				<td class="col5cell">Parada rápida</td>
				<td class="col6cell"><%= @flight.quick_stop %></td>
				<td class="col7cell">parking_cutting</td>
				<td class="col8cell"><%= @flight.parking_cutting %></td>
			</tr>
			<tr class="rowa">		
				<td class="col1cell">Operação em montanha</td>
				<td class="col2cell"><%= @flight.oper_in_mountain %></td>
				<td class="col3cell">Operação com vento contrário</td>
				<td class="col4cell"><%= @flight.oper_with_crosswind %></td>
				<td class="col5cell">Meteorologia</td>
				<td class="col6cell"><%= @flight.meteorology %></td>
				<td class="col7cell">Planejamento</td>
				<td class="col8cell"><%= @flight.planning %></td>
			</tr>
			<tr class="rowa">		
				<td class="col1cell">Notificação de vôo</td>
				<td class="col2cell"><%= @flight.plan_notification %></td>
				<td class="col3cell">fonia</td>
				<td class="col4cell"><%= @flight.fonia %></td>
				<td class="col5cell">Regras de tráfego</td>
				<td class="col6cell"><%= @flight.traffic_rules %></td>
				<td class="col7cell">Rota de vôo</td>
				<td class="col8cell"><%= @flight.flight_route %></td>
			</tr>
			<tr class="rowa">		
				<td class="col1cell">Navegação visual</td>
				<td class="col2cell"><%= @flight.visual_navigation %></td>
				<td class="col3cell">Procedimentos de pernoite</td>
				<td class="col4cell"><%= @flight.overnight_procedure %></td>
				<td class="col5cell">handling_publications</td>
				<td class="col6cell"><%= @flight.handling_publications %></td>
				<td class="col7cell">Iniciativa</td>
				<td class="col8cell"><%= @flight.initiative %></td>
			</tr>


		</table>
		<table>
			<tr>
				<td><b>Observações</b></br>
					<%=  @flight.comments %>
				</td>
			</tr>
		</table>

	</div>

<div id="leftcol2"></br>
	<div class="form_row">
	    <label for="history"><b>Histórico:</b></label>
	    <br><%= radio_button_tag 'history', '1', @flight.history == 1 %> Instrução 
	    <br><%= radio_button_tag 'history', '2', @flight.history == 2 %> Transporte
	    <br><%= radio_button_tag 'history', '3', @flight.history == 3 %> Manutenção
	    <br><%= radio_button_tag 'history', '4', @flight.history == 4 %> Treinamento
	</div>
	</br><hr></br>
	<div class="form_row">
	    <label for="history"><b>Fase:</b></label>              
	    <br><%= radio_button_tag 'phase', '1',@flight.phase == 1 %> Pré-solo 
	    <br><%= radio_button_tag 'phase', '2',@flight.phase == 2 %> Manobras
	    <br><%= radio_button_tag 'phase', '3',@flight.phase == 3 %> Navegação
	    <br><%= radio_button_tag 'phase', '4',@flight.phase == 4 %> Solo
	    <br><%= radio_button_tag 'phase', '5',@flight.phase == 5 %> Cheque
	</div>
</br><hr></br>
	<div class="form_row">
	    <label for="curse"><b>Curso:</b></label>
	    <br><%= radio_button_tag 'course', '1',@flight.course == 1 %> PPH 
	    <br><%= radio_button_tag 'course', '2',@flight.course == 2 %> PCH
	    <br><%= radio_button_tag 'course', '3',@flight.course == 3 %> INVH
	    <br><%= radio_button_tag 'course', '4',@flight.course == 4 %> CPD 
	    <br><%= radio_button_tag 'course', '5',@flight.course == 5 %> CPR
	</div>
	</br>
	</div>
</div>
</div>


<div id="buttons">
<p id="notice"><%= notice %> </p>	
<hr>
<%= link_to image_tag("left_arrow.png", :size=>"40x40", :border=>0, :title=>"Voltar"), flights_path %>
<%= link_to image_tag("edit.png", :size=>"40x40", :border=>0, :title=>"Editar"), edit_flight_path(@flight) %>
</div>

<div id="dialog" title="Basic dialog"></div>