<style type='text/css'>
    .ui-autocomplete {
      max-height: 180px;
      overflow-y: auto;
    }
</style>
<script type="text/javascript">
  $(function() {
    
      function retrieve_instructor(name){
        window.location = "/instructors/"+ name + "/show_by_name/";
      }
      
      $("#name").autocomplete({
        source: "instructors/search_names",
        minLength: 2,
        maxRows: 7,
        select: function(event,ui){
          name = ui.item.value;
          retrieve_instructor(name);
          return false;
        },
        focus: function(e,ui){
          return false;
        },
      });

  });
</script>
<table>
	<tr>
		<td><h1>Instrutores</h1><td>
	<td>Pesquisa por nome : <%= text_field_tag :name, params[:initials] , :class => 'autocomplete' %></td>
	</tr>
</table>

<table>
  <tr>
    <th>Nome</th>
    <th>Nível</th>
    <th>Data de nascimento</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Email</th>
    <th>Valor hora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instructors.each do |instructor| %>


<tr>
    <td><%= link_to instructor.name, instructor %></td>
    <td><%= instructor.level %></td>
    <td><%= instructor.birthday.to_s_br %></td>
    <td><%= instructor.phone %></td>
    <td><%= instructor.cel %></td>
    <td><%= instructor.email %></td>
    <td><%= instructor.hour_price.real %></td>
    <td align="right"><%= link_to image_tag("info.png", :size=>"20x20", :border=>0, :title=>"Detalhes"), instructor %></td>
    <td align="center"><%= link_to image_tag("edit.png", :size=>"20x20", :border=>0, :title=>"Editar"), edit_instructor_path(instructor) %></td>
    <td align="left"><%= link_to image_tag("trash.jpg",:size=>"20x20", :border=>0, :title=>"Excluir"), instructor, :confirm => 'Tem certeza que quer excluir o registro?', :method => :delete %></td>


  </tr>

<% end %>

<hr>

</table>

<br />
<hr>
<%= link_to image_tag("plus2.png", :size=>"40x40", :border=>0, :title=>"Adicionar"), new_instructor_path %>

