<h1>Instrutores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Birthday</th>
    <th>Phone</th>
    <th>Cel</th>
    <th>Email</th>
    <th>Hour price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instructors.each do |instructor| %>
  <tr>
    <td><%= instructor.name %></td>
    <td><%= instructor.level %></td>
    <td><%= instructor.birthday %></td>
    <td><%= instructor.phone %></td>
    <td><%= instructor.cel %></td>
    <td><%= instructor.email %></td>
    <td><%= instructor.hour_price %></td>
    <td align="right"><%= link_to image_tag("images/info.png", :size=>"16x16", :border=>0), instructor %></td>
    <td align="center"><%= link_to image_tag("images/edit.png", :size=>"16x16", :border=>0), edit_instructor_path(instructor) %></td>
    <td align="left"><%= link_to image_tag("images/trash.png",:size=>"16x16", :border=>0), instructor, :confirm => 'Are you sure?', :method => :delete %></td>


  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instructor', new_instructor_path %>
