<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @instructor.name %>
</p>

<p>
  <b>Nível:</b>
  <%= @instructor.level %>
</p>

<p>
  <b>Identidade:</b>
  <%= @instructor.rg %>
</p>

<p>
  <b>CPF:</b>
  <%= @instructor.cpf %>
</p>

<p>
  <b>DAC Instrutor:</b>
  <%= @instructor.instructor_dac %>
</p>

<p>
  <b>Data de nascimento:</b>
  <%= @instructor.birthday %>
</p>

<p>
  <b>Endereço:</b>
  <%= @instructor.address %>
</p>

<p>
  <b>Telefone:</b>
  <%= @instructor.phone %>
</p>

<p>
  <b>Celular:</b>
  <%= @instructor.cel %>
</p>

<p>
  <b>Email:</b>
  <%= @instructor.email %>
</p>

<p>
  <b>Valor hora:</b>
  <%= @instructor.hour_price %>
</p>


<%= link_to image_tag("left_arrow.png", :size=>"40x40", :border=>0), instructors_path %>
<%= link_to image_tag("edit.png", :size=>"40x40", :border=>0), edit_instructor_path(@instructor) %>
