<p>
  <h2>Crédito de horas</h2>
</p>

<table>
  <tr>
    <th>Data</th>
    <th>Pacote/Voo</th>
    <th>Crédito</th>
    <th>Débito</th>
    <th>Saldo</th>
  </tr>
<% total = 0 %>
<% @client.balances.order(:date).each do |balance| %>
  <tr>
    <td><%= balance.date_br %>- <%= balance.sale_id%></td>
    <% if balance.credit? %>
      <td><%= balance.sale.aircraft_type.name %></td>
      <td><%= balance.hours.to_s %></td>
      <td>&nbsp;</td>
      <% total += balance.hours %>
    <% else %>
      <td><%= balance.flight.aircraft.prefix %></td>
      <td>&nbsp;</td>
      <td><%= balance.hours   %></td>
      <% total -= balance.hours %>
    <% end %>
    <td><%= total %></td>
  </tr>
  <br />
<% end %>
</table>