<% all = @client.sales + @client.entries %>
<table>
  <tr>
    <th>Data</th>
    <th>Descritivo</th>
    <th>Crédito</th>
    <th>Débito</th>
    <th>Saldo</th>
  </tr>
<% total = 0 %>
<% all.each do |l| %>
  <tr>
    <td><%= l.is_a?(Entry) ?  l.entry_date.to_s_br : l.date.to_s_br %></td>
    <td><%= l.description %></td>
    <% if l.is_a? Entry %>
      <td><%= l.value.real %></td>
      <td>&nbsp;</td>
      <% total += l.value %>
    <% else %>
      <td>&nbsp;</td>
      <td><%= l.total_value.real %></td>
      <% total -= l.total_value %>
    <% end %>
    <td><%= total.real %></td>
  </tr>
<% end %>
</table>