<h1>Clientes</h1>

<table width="90%">
  <tr>
    <th>Nome</th>
    <th>Data de nascimento</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Email</th>
    <th>Creditos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= link_to client.name, client %></td>
    <td><%= client.birthday %></td>
    <td><%= client.phone %></td>
    <td><%= client.cel %></td>
    <td><%= client.email %></td>
    <td><%= client.credit %></td>
    <td align="right" width="25px"><%= link_to image_tag("info.png", :size=>"20x20", :border=>0), client %></td>
    <td align="center" width="25px"><%= link_to image_tag("edit.png", :size=>"20x20", :border=>0), edit_client_path(client) %></td>
    <td align="left" width="25px"><%= link_to image_tag("trash.jpg",:size=>"20x20", :border=>0), client, :confirm => 'Tem certeza que quer excluir o registro?', :method => :delete %></td>
  </tr>
<hr>
<% end %>
</table>

<br />

<%= link_to image_tag("plus2.png", :size=>"40x40", :border=>0), new_client_path %>
