<%= stylesheet_link_tag "application" %>
<style type='text/css'>
    .ui-autocomplete {
      max-height: 180px;
      overflow-y: auto;
    }
</style>
<script type="text/javascript">
  $(function() {
    
      function retrieve_client(name){
        window.location = "/clients/"+ name + "/show_by_name/";
      }
      
      $("#name").autocomplete({
        source: "clients/pesquisa_nomes",
        minLength: 2,
        maxRows: 7,
        select: function(event,ui){
          name = ui.item.value;
          retrieve_client(name);
         // alert('buscou' + ui.item.value);
          return false;
        },
        focus: function(e,ui){
          return false;
        },
      });

  });
</script>
<table>
	<tr>
		<td><h1>Clientes</h1><td>
	<td>Pesquisa por nome : <%= text_field_tag :name, params[:initials] , :class => 'autocomplete' %></td>
	</tr>
</table>
<hr>
<table>
  <tr>
    <th>Nome</th>
    <th>Data de nascimento</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Email</th>
    <th>Creditos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= link_to client.name, client %></td>
    <td><%= client.birthday.to_s_br %></td>
    <td><%= client.phone %></td>
    <td><%= client.cel %></td>
    <td><%= client.email %></td>
    <td><%= client.credit %></td>
    <td align="right" width="25px"><%= link_to image_tag("info.png", :size=>"20x20", :border=>0, :title=>"Detalhes"), client %></td>
    <td align="center" width="25px"><%= link_to image_tag("edit.png", :size=>"20x20", :border=>0, :title=>"Editar"), edit_client_path(client) %></td>
    <td align="left" width="25px"><%= link_to image_tag("trash.jpg",:size=>"20x20", :border=>0, :title=>"Excluir"), client, :confirm => 'Tem certeza que quer excluir o registro?', :method => :delete %></td>
  </tr>

<% end %>
</table>

<br />
<hr>

<%= link_to image_tag("plus2.png", :size=>"40x40", :border=>0, :title=>"Adicionar"), new_client_path %>
