<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cpf</th>
    <th>Rg</th>
    <th>Client dac</th>
    <th>Birthday</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Cep</th>
    <th>Phone</th>
    <th>Cel</th>
    <th>Email</th>
    <th>Credit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.cpf %></td>
    <td><%= client.rg %></td>
    <td><%= client.client_dac %></td>
    <td><%= client.birthday %></td>
    <td><%= client.address %></td>
    <td><%= client.city %></td>
    <td><%= client.state %></td>
    <td><%= client.cep %></td>
    <td><%= client.phone %></td>
    <td><%= client.cel %></td>
    <td><%= client.email %></td>
    <td><%= client.credit %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
