<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Cpf:</b>
  <%= @client.cpf %>
</p>

<p>
  <b>Rg:</b>
  <%= @client.rg %>
</p>

<p>
  <b>Client dac:</b>
  <%= @client.client_dac %>
</p>

<p>
  <b>Birthday:</b>
  <%= @client.birthday %>
</p>

<p>
  <b>Address:</b>
  <%= @client.address %>
</p>

<p>
  <b>City:</b>
  <%= @client.city %>
</p>

<p>
  <b>State:</b>
  <%= @client.state %>
</p>

<p>
  <b>Cep:</b>
  <%= @client.cep %>
</p>

<p>
  <b>Phone:</b>
  <%= @client.phone %>
</p>

<p>
  <b>Cel:</b>
  <%= @client.cel %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Credit:</b>
  <%= @client.credit %>
</p>
<p>
  Sales of this client
</p>

<%= render :partial => 'client_sales' %>
<%= render :partial => 'client_balance' %>

<%= link_to image_tag("left_arrow.png", :size=>"40x40", :border=>0, :title=>"Voltar"), clients_path %>
<%= link_to image_tag("edit.png", :size=>"40x40", :border=>0, :title=>"Editar"), edit_client_path(@client) %>
