<p id="notice"><%= notice %></p>
<h1>Detalhes do Fornecedor</h1>
<hr>
<p>
  <b>Nome:</b>
  <%= @supplier.name %>
</p>

<p>
  <b>Ativo:</b>
  <%= @supplier.active %>
</p>
<hr>

<%= link_to image_tag("left_arrow.png", :size=>"40x40", :border=>0, :title=>"Voltar", :title=>"Voltar"), suppliers_path %>
<%= link_to image_tag("edit.png", :size=>"40x40", :border=>0, :title=>"Editar"), edit_supplier_path(@supplier) %>
