<script type='text/javascript'>
  $(function() {
    $("#sale_aircraft_type_id").change(function(){
      retrieve_aircraft_type();
    });
    retrieve_aircraft_type();
  });
  
  function retrieve_aircraft_type(){
    $.ajax({
        url: '/aircraft_types/' + $("#sale_aircraft_type_id").val() + '/busca_aircraft_type',
        type: 'GET',
        // data: { id: $("#sale_aircraft_type_id").val() },
        success: function(data){
          $("#value").html(data.hour_price);
          // $("#hours").html(data.quantity);
          $("#sale_value").val(data.hour_price);
          // $("#sale_hours").val(data.quantity);
          calculate_total_sale();
        }
      });
  }

   function calculate_total_sale(){
     // alert('aleluia');
     total = parseFloat($("#sale_value").val()) * parseFloat($("#sale_hours").val());
     $("#total_value").html(total);
   }

</script>


<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label "Cliente" %><br />
      <%= f.select :client_id , @clients, :prompt => 'Selecione'%>
    </div>

    <div class="field">
      <%= f.label "Tipo de aeronave" %><br />
      <%= f.select :aircraft_type_id, @aircraft_types %>
    </div>
    
    <div class="field">
      <%= f.label "Valor Hora" %><br />
      <span id="value"></span>
      <%= f.hidden_field :value %>
    </div>

    <div class='field'> 
      <%= f.label "Horas" %><br />
      <span id="hours"></span>
      <%= f.text_field :hours , :size=>5, :onblur => 'javascript:calculate_total_sale();' %>
      <span id="total_value"></span>
    </div>
    
    <div class="field">
      <%= f.label :Data %><br />
      <%= f.text_field :date_br, :class=>'datepicker', :size=>11 %>
    </div>

    <div class='field'> 
      <%= f.label "Descrição" %><br />
      <%= f.text_field :description %>
    </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
