<div id="sidebar">
<ul>
  <li class="header"><%= link_to 'Clientes', clients_path %> </li>
  <li class="header"><%= link_to 'Fornecedores', suppliers_path %> </li>
  <li class="header"><%= link_to 'Instrutores', instructors_path %></li>
  <li class="header"><%= link_to 'Aeronaves', aircrafts_path %></li>
  <li class="header"><%= link_to 'Pacotes', packages_path %></li>
  <li class="header"><%= link_to 'Vôos', flights_path %></li>
  <li class="header"><%= link_to 'Vendas', sales_path %></li>
  <li class="header"><%= link_to 'Caixa', accounts_path %></li>
  <li class="header"><%= link_to 'Recebimentos', entries_path %></li>
  <li class="header"><%= link_to 'Pagamentos', new_account_path(:credit => false) %></li>
</ul>
</div>