<!DOCTYPE html>
<html>
<head>
  <title>Controle de Vôos</title>
  <%= stylesheet_link_tag "application"%>
  <%= stylesheet_link_tag "jquery-ui-1.8.16.custom"%>
  <%= javascript_include_tag "application", "jquery-1.4.js", "jquery-ui-1.8.14.custom.min.js", "jquery.ui.datepicker-pt-BR" %>
  <%= javascript_include_tag "#{controller_name}"%>
  <%= csrf_meta_tags %>

<script type="text/javascript">
  $(function() {
		$(".datepicker").datepicker();
	});

</script>

</head>
<body>
	<div id="pagewidth" >
		<div id="header"><h2>Controle de Vôos</h2>
		  	    <div style="float: right;">
        <%= render :partial => '/shared/navigation' %>	
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>
  		</div>

  	  </div>
		<div id="wrapper" class="clearfix">
			<div id="maincol"><%= yield %></div>
		<div id="leftcol"><%= render :partial => 'layouts/menu'%></div>
    </div>
		<div id="footer"><h2></h2></div>
		</div>
</body>
</html>
