
<table width="90%">
  <tr>
    <th>Data prevista</th>
    <th>Data efetiva</th>
    <th>Confirmado</th>
    <th>Cliente/Fornecedor</th>
    <th>Descritivo</th>
    <th align='right'>Débito</th>
    <th align='right'>Crédito</th>
    <th align='right'>Saldo</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>

  </tr>

<% credit = 0 %>
<% debit  = 0 %>
<% data.each do |entry| %>
  <tr>
    <% if entry.is_a? Entry %>
      <td><%= entry.due_date_br %></td>
      <td><%= entry.entry_date_br %></td>
      <td><%= entry.received? ? 'sim' : 'não'%></td>
      <td><%= entry.client && entry.client.name %></td>
      <td><%= entry.description %></td>
      <td>&nbsp;</td>
      <td align='right'><%= entry.value.real %></td>
      <% credit += entry.value %>
    <% else %>
      <td><%= entry.due_date_br %></td>
      <td><%= entry.payment_date_br %></td>
      <td><%= entry.payed? ? 'sim' : 'não' %></td>
      <td><%= entry.supplier && entry.supplier.name %></td>
      <td><%= entry.description %></td>
      <td align='right'><%= entry.value.real %></td>
      <td>&nbsp;</td>
      <% debit += entry.value %>
    <% end %>
    <td align='right'><%= (credit - debit).real %></td>
    <td align="right" width="25px"><%= link_to image_tag("info.png", :size=>"20x20", :border=>0, :title=>"Detalhes"), entry %></td>
    <td align="center" width="25px">
      <%= link_to image_tag("edit.png", :size=>"20x20", :border=>0, :title=>"Editar"), entry.is_a?(Entry) ? edit_entry_path(entry) : edit_account_path(entry) %>
    </td>
    <td align="left" width="25px"><%= link_to image_tag("trash.jpg",:size=>"20x20", :border=>0, :title=>"Excluir"), entry, :confirm => 'Tem certeza que quer excluir o registro?', :method => :delete %></td>
  </tr>
<% end %>

<tr>

  <td colspan="4" align="center"><b>Total</b></td>
  <td align='right'><b><%= debit.real %></b></td>
  <td align='right'><b><%= credit.real %></b></td>
  <td>&nbsp;</td>

</tr>
<hr>
</table>
<hr>
<br />

