<hr>
<h1>Recebimentos</h1>
<table width="90%" border='0'>
  <tr>
    <th><%= confirmed ? "Recebido em" : "A receber em"%></th>
    <th>Cliente</th>
    <th>Descritivo</th>
    <th align='right'>Valor</th>
    <th>Centro de custo</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% data.each do |entry| %>
  <tr>
      <td><%= confirmed ? entry.entry_date_br : entry.due_date_br %></td>
      <td><%= entry.client && entry.client.name %></td>
      <td><%= entry.description %></td>
      <td align='right'><%= entry.value.real %></td>
      <td><%= entry.aircraft_type.name if entry.aircraft_type %></td>
    <td align="right" width="25px"><%= link_to image_tag("info.png", :size=>"20x20", :border=>0, :title=>"Detalhes"), entry %></td>
    <td align="center" width="25px"><%= link_to image_tag("edit.png", :size=>"20x20", :border=>0, :title=>"Editar"), edit_entry_path(entry) %></td>
    <td align="left" width="25px"><%= link_to image_tag("trash.jpg",:size=>"20x20", :border=>0, :title=>"Excluir"), entry, :confirm => 'Tem certeza que quer excluir o registro?', :method => :delete %></td>
  </tr>
<% end %>
<tr>
  <td colspan="3" align="right">&nbsp;</td>
  <td align='right'>------------</td>
</tr>
<tr>
  <td colspan="3" align="right">Total</td>
  <td align='right'><%= @entry_total.real %></td>
</tr>
</table>

<br />

<%= link_to image_tag("plus2.png", :size=>"40x40", :border=>0, :title=>"Adicionar"), new_entry_path %>
