<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :credit %>


    <div class="field">

      <%= f.label :supplier_id %><br />

      <%= f.label "Fornecedor" %><br />

      <%= f.select :supplier_id , @suppliers %>
    </div>
    <div class="field">
      <%= f.label "Vencimento" %><br />
      <%= f.text_field :due_date_br, :class=>'datepicker', :size => 9 %>
    </div>

    <div class="field">
      <%= f.label :value %><br />
      <%= f.text_field :value, :size => 9 %>
    </div>

    <div class="field">
      <%= f.label 'Juros' %><br />
      <%= f.text_field :interest, :size => 9 %>
    </div>

    <div class="field">
      <%= f.label 'Desconto' %><br />
      <%= f.text_field :discount, :size => 9 %>
    </div>

    <div class="field">
      <%= f.label 'Código de barras' %><br />
      <%= f.text_field :barcode, :size => 49 %>
    </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows=>3 %>
  </div>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value, :size => 9 %>
  </div>
  
  <div>
    <%= f.check_box :payed %>
    <%= f.label "Pago em "%>
    <%= f.text_field :payment_date_br, :class=>'datepicker', :size => 9 %>  </div>

<br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<hr>
