<script type='text/javascript'>
  $(function() {
    $("#account_package_id").change(function(){
      $.ajax({
        url: '/packages/' + $("#account_package_id").val() + '/busca_pacote',
        type: 'GET',
        data: { id: $("#account_package_id").val() },
        success: function(data){
          $("#account_value").val(data.price);
          $("#account_hours").val(data.quantity);
        }
      });
    });
  });
</script>
<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :credit %>

  <% if @account.credit? %>
    <div class="field">
      <%= f.label :client_id %><br />
      <%= f.select :client_id , @clients%>
    </div>

    <div class="field">
      <%= f.label "Pacote" %><br />
      <%= f.select :package_id, @packages %>
    </div>
    
    <div class='field'>
      <%= f.label "Horas" %><br />
      <%= f.text_field :hours %>
    </div>

    <div class="field">
      <%= f.label :value %><br />
      <%= f.text_field :value %>
    </div>
    
    <div class="field">
      <%= f.label :Data %><br />
      <%= f.date_select :due_date , :order => [:day,:month,:year] %>
    </div>

  
  <% else %>
  
    <div class="field">
      <%= f.label :supplier_id %><br />
      <%= f.select :supplier_id , @suppliers%>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :payment_date %><br />
      <%= f.date_select :payment_date , :order => [:day,:month,:year] %>
    </div>
    <div>
      <%= f.label "Descritivo" %><br />
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label "Tipo" %><br />
      <%= f.number_field :type %>
    </div>

    <div class="field">
      <%= f.label "Empresa" %><br />
      <%= f.number_field :company_id %>
    </div>

    <div class="field">
      <%= f.label "Código de barras" %><br />
      <%= f.text_field :barcode %>
    </div>

    <div class="field">
      <%= f.label "Data do pagamento" %><br />
      <%= f.date_select :payment_date %>
    </div>
    
    <div class="field">
      <%= f.label "Juros" %><br />
      <%= f.text_field :interest %>
    </div>

    <div class="field">
      <%= f.label :value %><br />
      <%= f.text_field :value %>
    </div>

  <% end %>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :rows=>3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
