<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :credit %>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date,  :order => [:day,:month,:year] %>
  </div>

  <% if @account.credit? %>
    <div class="field">
      <%= f.label :client_id %><br />
      <%= f.select :client_id , @clients%>
    </div>

    <div class="field">
      <%= f.label :packages %><br />
      <%= f.select :package_id, @packages %>
    </div>
  
  <% else %>
  
    <div class="field">
      <%= f.label :supplier_id %><br />
      <%= f.select :supplier_id , @suppliers%>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :payment_date %><br />
      <%= f.date_select :payment_date , :order => [:day,:month,:year] %>
    </div>
    
    <div class="field">
      <%= f.label :interest %><br />
      <%= f.text_field :interest %>
    </div>


  <% end %>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :rows=>3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
