<h1>Pagamentos</h1>
<table>
	<tr>
		<th >Fornecedor:</th>
		<th>Pago:</th>
		<th>Data:</th>
	</tr>
	<tr>
		<td vertical-align="top"><%= select_tag :supplier_id, options_for_select(@suppliers, params[:supplier_id]), :prompt => 'Selecione' %></td>
    <td><%= select_tag :confirmed, options_for_select([[''],['Sim'], ['Não']], params[:confirmed]), :prompt => 'Ambos' %></td>

		<td><%= render :partial => '/shared/date_range' %></td>
	</tr>
</table>
<hr>
<table>
  <tr>
    <th>Vencimento</th>
    <th>Fornecedor</th>
    <th>Descritivo</th>	
    <th>Valor</th>
    <th>Total</th>
    <th>Pago</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% total = 0%>
<% data.each do |account| %>
  <tr>
    <td><%= account.due_date_br %></td>
    <td><%= account.supplier && account.supplier.name %></td>
    <td><%= account.description %></td>
    <td><%= account.barcode %></td>
    <td><%= account.value.real %></td>
    <td><%= account.discount.real %></td>
    <td><%= account.interest.real %></td>
    <td><%= account.total.real %></td>
    <% total += account.total %>
    <td><%= account.payed? ? 'sim' : 'não' %></td>
    <td align="right" width="25px"><%= link_to image_tag("info.png", :size=>"20x20", :border=>0, :title=>"Detalhes"), account %></td>
    <td align="center" width="25px"><%= link_to image_tag("edit.png", :size=>"20x20", :border=>0, :title=>"Editar"), edit_account_path(account) %></td>
    <td align="left" width="25px"><%= link_to image_tag("trash.jpg",:size=>"20x20", :border=>0, :title=>"Excluir"), account, :confirm => 'Tem certeza que quer excluir o registro?', :method => :delete if current_user.master? %></td>
  </tr>
<% end %>

</table>
<hr>
<div align="right"><b>Total</b>
<b><%= total.real %></b>
</div>
<hr>
<%= link_to image_tag("plus2.png", :size=>"40x40", :border=>0, :title=>"Adicionar"), new_account_path %>
