  <h1>Pagamentos</h1>
<table>
  <tr>
    <th><%= confirmed ? "Pago em" : "A pagar em"%></th>
    <th>Fornecedor</th>
    <th>Descritivo</th>
    <th align='right'>Valor</th>
    <th>Centro de custo</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
<% total = 0%>
<% data.each do |account| %>
  <tr>
    <td><%= confirmed ? account.payment_date_br : account.due_date_br %></td>
    <td><%= account.supplier && account.supplier.name %></td>
    <td><%= account.description %></td>
    <td align='right'><%= account.value.real %></td>
    <% total += account.total if account.total %>
    <td><%= account.company.name if account.company %></td>
    <td align="right" width="25px"><%= link_to image_tag("info.png", :size=>"20x20", :border=>0, :title=>"Detalhes"), account %></td>
    <td align="center" width="25px"><%= link_to image_tag("edit.png", :size=>"20x20", :border=>0, :title=>"Editar"), edit_account_path(account) %></td>
    <td align="left" width="25px"><%= link_to image_tag("trash.jpg",:size=>"20x20", :border=>0, :title=>"Excluir"), account, :confirm => 'Tem certeza que quer excluir o registro?', :method => :delete if current_user.master? %></td>

  </tr>
<% end %>
<tr>
  <td colspan="3" align="right">&nbsp;</td>
  <td align='right'>------------</td>
</tr>

<tr>
  <td colspan="3" align="right">Total</td>
  <td align='right'><%= @payed_total.real %></td>
</tr>

</table>
