<hr>
<h1>Recebimentos</h1>
<%= @data %>
<table width="90%">
  <tr>
    <th>Cliente</th>
    <th>Tipo</th>
    <th>Empresa</th>
    <th>Vencimento</th>
    <th>Descritivo</th>
    <th>Valor</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% data.each do |receive| %>
  <tr>
    <td><%= receive.date %></td>
    <td><%= receive.client && receive.client.name %></td>
    <td><%= receive.description %></td>
    <td><%= receive.value %></td>
    <td align="right" width="25px"><%= link_to image_tag("info.png", :size=>"20x20", :border=>0, :title=>"Detalhes"), receive %></td>
    <td align="center" width="25px"><%= link_to image_tag("edit.png", :size=>"20x20", :border=>0, :title=>"Editar"), edit_entry_path(receive) %></td>
    <td align="left" width="25px"><%= link_to image_tag("trash.jpg",:size=>"20x20", :border=>0, :title=>"Excluir"), receive, :confirm => 'Tem certeza que quer excluir o registro?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<br />

<%= link_to image_tag("plus2.png", :size=>"40x40", :border=>0, :title=>"Adicionar"), new_entry_path %>
