<div id="title">
  <h1><%= params[:confirmed]=='true' ?  'Fluxo de Caixa' : 'Previsão de Caixa' %></h1>
</div>
<%= hidden_field_tag :confirmed, params[:confirmed] %>
<table>
	<tr>
		<th>Inicial:</th>
		<th>Final:</th>
	</tr>
	<tr>
		<%= render :partial => '/shared/date_range' %>
	</tr>
</table>
<div id="printable-part">
  <%= render :partial => 'entries' , :locals => {:data => @entries,
                 :confirmed => params[:confirmed]=='true' } %>
  <hr>
  <h1>Pagamentos</h1>
  <%= render :partial => 'payments' , :locals => {:data => @payments,
                 :confirmed => params[:confirmed]=='true' } %>
</div> 
<%= link_to 'imprimir', "javascript:print('#{@titulo}');"%>
<div id="dialog" title="Basic dialog"></div>
