<h1>Pagamentos</h1>
<table>
	<tr>
	  <th>Centro de custo</th>
		<th>Fornecedor:</th>
		<th>Pago:</th>
		<th>Inicial:</th>
		<th>Final:</th>
	</tr>
	<tr>
	  <td><%= select_tag :company_id, options_for_select(@aircraft_types, params[:aircraft_type_id]), :prompt => 'Selecione'  %></td>
		<td vertical-align="top"><%= select_tag :supplier_id, options_for_select(@suppliers, params[:supplier_id]), :prompt => 'Selecione' %></td>
    <td><%= select_tag :confirmed, options_for_select([['ambos'],['Sim'], ['Não']], params[:confirmed]) %></td>

		<%= render :partial => '/shared/date_range' %>
	</tr>
</table>
<hr>
<%= render :partial => 'payments' , :locals => {:data => @payments,
               :confirmed => params[:confirmed]=='true'}  %>
			<hr>
               
               
<%= link_to image_tag("plus2.png", :size=>"40x40", :border=>0, :title=>"Adicionar"), new_account_path %>
