<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @account.client_id %>
</p>

<p>
  <b>Tipo:</b>
  <%= @account.type %>
</p>

<p>
  <b>Empresa:</b>
  <%= @account.company_id %>
</p>

<p>
  <b>Data de vencimento:</b>
  <%= @account.due_date %>
</p>

<p>
  <b>Descritivo:</b>
  <%= @account.description %>
</p>

<p>
  <b>Valor:</b>
  <%= @account.value %>
</p>

<p>
  <b>Código de barras:</b>
  <%= @account.barcode %>
</p>

<p>
  <b>Status:</b>
  <%= @account.status %>
</p>

<p>
  <b>Data de pagamento:</b>
  <%= @account.payment_date %>
</p>

<p>
  <b>Juros:</b>
  <%= @account.interest %>
</p>

<p>
  <b>Desconto:</b>
  <%= @account.discount %>
</p>

<p>
  <b>Observações:</b>
  <%= @account.comments %>
</p>


<%= link_to image_tag("left_arrow.png", :size=>"40x40", :border=>0), accounts_path %>
<%= link_to image_tag("edit.png", :size=>"40x40", :border=>0), edit_account_path(@account) %>
