<p id="notice"><%= notice %></p>

<!-- <p>
  <b>Tipo:</b>
  <%= @account.type %>
</p>

<p>
  <b>Empresa:</b>
  <%= @account.company_id %>
</p>

<p>
  <b>Data de vencimento:</b>
  <%= @account.due_date %>
</p> -->
<p>
  <b>Fornecedor:</b>
  <%= @account.supplier.name %>
</p>

<p>
  <b>Vencimento:</b>
  <%= @account.due_date_br %>
</p>

<p>
  <b>Descritivo:</b>
  <%= @account.description %>
</p>

<p>
  <b>Valor:</b>
  <%= @account.value.real %>
</p>

<p>
  <b>Deconto:</b>
  <%= @account.discount.real %>
</p>

<p>
  <b>Juros:</b>
  <%= @account.interest.real %>
</p>

<p>
  <b>Valor final:</b>
  <%= @account.total.real %>
</p>

<p>
  <b>Código de barras:</b>
  <%= @account.barcode %>
</p>

<p>
  <b>Pago:</b>
  <%= @account.payed ? 'sim' : 'não' %>
</p>

<p>
  <b>Data de pagamento:</b>
  <%= @account.payment_date_br %>
</p>

<%= link_to image_tag("edit.png", :size=>"40x40", :border=>0, :title=>"Editar"), edit_account_path(@account) %>
